/* External CSS file 'about.css' */

/* Styles for the outer container */
.mother {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

/* Styles for the 'aboutHome' section */
.aboutHome {
  text-align: center;
  margin-bottom: 20px;
}

/* Styles for the main heading */
h1 {
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
}

/* Styles for the course container */
.courses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
  /* max-width: 1200px; */
}

/* Styles for individual course cards */
.course-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  width: calc(33.33% - 20px); /* Adjust this for responsiveness */
}

.course-card:hover {
  transform: translateY(-5px);
}

/* Styles for course card images */
.img img {
  max-width: 100%;
  height: auto;
}

/* Styles for course titles */
.course-title {
  color: #333;
  font-size: 20px;
  margin-top: 10px;
}

/* Styles for course descriptions */
.course-description {
  color: #666;
  font-size: 16px;
  margin-top: 10px;
}

/* Styles for the 'Auto-Didactic-E-Learning' heading */
.auto-didactic-heading {
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
}



@media (max-width: 2736px) {
  .courses-container {
    justify-content: center;
  }
  
  .course-card {
    width: 100%; 
    margin: 10px 0;
  }
}


@media (max-width: 1180px) {
  .courses-container {
    justify-content: center;
  }
  
  .course-card {
    width: 100%; /* Make course cards take up full width on smaller screens */
    margin: 10px 0;
  }
}



/* Media query for iPad Pro (11-inch) and similar sizes */
@media (max-width: 834px) {
  .courses-container {
    justify-content: center;
  }
  
  .course-card {
    width: 100%; /* Make course cards take up full width on smaller screens */
    margin: 10px 0;
  }
}



/* Media query for responsiveness */
@media (max-width: 768px) {
  .courses-container {
    justify-content: center;
  }
  
  .course-card {
    width: 100%; /* Make course cards take up full width on small screens */
    margin: 10px 0;
  }


}
