.certificate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
.certificate-container  .image {
    width: 700px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .input {
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #464262;
    color: gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #3B5998;
  }
  
  @media (max-width: 600px) {
    .certificate-container {
      margin-top: 30px;
    }
  
    .title {
      font-size: 20px;
    }
  
    .image {
      width: 150px;
      height: 150px;
      margin-bottom: 10px;
    }
  
    .input {
      width: 250px;
      margin-bottom: 10px;
    }
  }
  

  @media screen and (max-width: 590px) {



    .certificate-container  {
      margin-top: 150px;
    }

.certificate-container  .image {
  width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

  }