.paystack-button {
  background-color: white;
  color: black;
  box-shadow: 5px 5px 3px black;
}


@media screen and (max-width: 590px){
  .paymentInput {
    padding: 50px;
  }

  .paymentInput input {
    margin: 100px;
  }

}