body {
  margin: 0;
  padding: 0;
}

.book_container {
  width: 100vw;
  height: auto;
  background-color: rgb(218, 232, 244);
  padding-left: 20px;
  padding-right: 40px;
}

.book_container .book_search {
  background-color: white;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid gray;
}

.book_container .book_search img {
  width: 150px;
  border-radius: 10px;
  margin-left: 10px;
  height: 50px;
}

.book_container .book_search input {
  width: 900px;
  height: 50px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  border: 2px solid skyblue;
  outline: none;
  padding: 10px;
}

.book_container .search-icon {
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  position: absolute;
  top: 0;
  cursor: pointer;
  margin-top: 90px;
  font-size: 90px;
  margin-left: 55%;
}

.book_container .search-icon .icon-search {
  /* background-color: blue; */
  font-size: 35px;
  color: gray;
  cursor: pointer;
}

.book_container .search-icon .icon-search:hover {
  background-color: skyblue;
  border-radius: 20px;
}

.book_container .book_search li a {
  background-color: black;
  color: white;
  margin-right: 200px;
  width: 150px;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}

.book_container .book_search li a:hover {
  background-color: skyblue;
  color: black;

}

.book_container .book_photo {
  /* background-color: aquamarine; */
  width: 100%;
  height: 300px;
  background-image: url("../../../../public/solo1.jpg");
}

.book_container h1 {
  position: absolute;
  top: 0;
  background-color: white;
  margin-top: 20%;
  left: 0;
  margin-left: 30%;
  width: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 60px;
  opacity: 0.9;
}

.book_container .secound_book_container {}

.book_container .secound_book_container .button_container {
  background-color: rgb(227, 238, 248);
  border: 3px solid gray;
  border-bottom: none;
  display: flex;
  justify-content: space-around;
  padding: 13px;
  padding-right: 600px;
  
}



.book_container .secound_book_container .button_container li  a{
  font-size: 20px;
  margin: 10px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(191, 230, 246);
  width: 190px;
  cursor: pointer;
  border: 2px solid gray;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.book_container .secound_book_container .button_container li a:hover {
  background-color: aliceblue;
}


 .book_container .secound_book_container .button_container li a {
   color: black;
} 

.book_container .secound_book_container .lower_book_container {
  /* background-color: green; */
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  border: 3px solid gray;
}

.book_container .secound_book_container .lower_book_container .image_book {
  /* background-color: rgb(79, 85, 148); */
  height: 500px;
  width: calc(20% - 0%);
  margin: 10px;
}

.book_container .secound_book_container .lower_book_container .image_book img {
  width: 100%;
  height: 80%;
  border-radius: 15px;
}

.book_container
  .secound_book_container
  .lower_book_container
  .image_book
  .container_details {
  /* background-color: white; */
  display: flex;
  justify-content: space-around;
  border: 3px solid white;
  border-radius: 15px;
  height: 18%;
}

.book_container
  .secound_book_container
  .lower_book_container
  .image_book
  .container_details
  .book_details {
  /* background-color: rgb(116, 152, 199); */
  margin-right: 30px;
  width: 200px;
  height: 100px;
}

.book_container
  .secound_book_container
  .lower_book_container
  .image_book
  .container_details
  .details {
  /* background-color: rgb(91, 171, 93);
    color: blue; */
  display: flex;
  width: 100%;
  text-align: left;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  align-items: center;
}

.book_container
  .secound_book_container
  .lower_book_container
  .image_book
  .container_details
  .details
  span {
  color: black;
  font-size: 15px;
}

.book_container
  .secound_book_container
  .lower_book_container
  .image_book
  .container_details
  .details
  p {
  color: black;
  text-align: left;
  font-size: 15px;
  margin: 0;
  
}

.book_container
  .secound_book_container
  .lower_book_container
  .image_book
  .container_details
  .view_button {
  /* background-color: green; */
  width: 200px;
  margin: 5px;
  margin-top: 13px;
}

.book_container
  .secound_book_container
  .lower_book_container
  .image_book
  .container_details
  .view_button
  button {
  background-color: black;
  border: none;
  color: white;
  width: 100px;
  padding: 5px;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 12px;
}
