.catigories {
  width: 100%;
  height: auto;
  /* background-color: blue; */
  display: flex;
  border: 3px solid gray;
  border-top: none;
}

.catigories .left_catigories_container {
  /* background-color: yellow; */
  height: auto;
  width: 80%;
  /* margin: 5px; */
  padding: 3px;
}

.catigories .top_cat_container {
    background-color: aliceblue;
    height: auto;
    margin: 2px;
    border: 1px solid gray;
    padding: 10px;
}

/* .catigories .top_cat_container > div {
    background-color: yellow;
} */

.catigories .top_cat_container .book_image img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 5px;
     
}

.catigories .top_cat_container .book_search_details {
    display: flex;
    align-items: center;
    background-color: rgb(218, 232, 244);
    margin-top: 10px;
    /* margin: 0;
    padding: 0; */

}

.catigories .top_cat_container .book_search_details .book_image_details {
    margin-left: 10px;
    /* width: 80%; */
  
}

.catigories .top_cat_container .book_search_details .book_image_details .book_page span{
    margin-left: 20px;
  
}

.catigories .left_catigories_container .lower_cat_container {
    background-color: aliceblue;
    height: auto;
    margin: 2px;
    border: 1px solid gray;
    padding: 10px;
    margin-top: 10px;
}



.catigories .lower_cat_container .book_search_details {
    display: flex;
    align-items: center;
    background-color: rgb(218, 232, 244);
    margin-top: 10px;
    /* margin: 0;
    padding: 0; */

}

.catigories .lower_cat_container .book_image img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 5px;
     
}

.catigories .lower_cat_container .book_search_details .book_image_details {
    margin-left: 10px;
    /* width: 80%; */
  
}

.catigories .lower_cat_container .book_search_details .book_image_details .book_page span{
    margin-left: 20px;
  
}

.catigories .side_catigories {
  background: aliceblue;
  border: 1px solid gray;
  height: 100%;
  width: 20%;
  margin: 5px;
  /* background-color: yellow; */
  padding: 10px;
}

.catigories .side_catigories .catigories_list {
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.catigories .side_catigories .catigories_list img {
    width: 100px;
    height: 99.5px;
    border-radius: 50px;
}

.catigories .side_catigories .catigories_list p {
    font-size: 20px;
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.catigories .lower_last {
    width: 95.1vw;
    height: 500px; 
    /* background-color: yellow; */
}

.more_categories {
    /* background-color: yellow; */
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.more_categories span {
  /* background-color: yellow; */
  display: flex;
  border: 3px solid skyblue;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.more_categories li a{
    padding: 5px;
    width: 400px;
    cursor: pointer;
    border: none;
    outline: none;
    height: 40px;
    color: black;
    font-size: 30px;
    background-color: skyblue;
    font-family: monospace;
}

.more_categories li a:hover{
    padding: 7px;
    color: white;

}